.New {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
}

.input-section {
  margin-bottom: 6%;
}

.emotion-list {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.emotion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.emotion-item.selected {
  opacity: 1;
  transform: scale(1.1);
}

.emotion-item img {
  width: 50px;
  height: 50px;
}

textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px;
  font-size: 14px;
}

.button-section {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.Home {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-button {
  background-color: transparent;
  font-size: 28px;
  border: none;
  cursor: pointer;
}

.home-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.diary-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 2%;
}

.diary-card img {
  width: 60px;
  height: 60px;
  margin-right: 5%;
}

.card-content p {
  font-size: 14px;
  color: #666;
}